@model IEnumerable<TimeTrackingApplication.Models.TimeEntry>

@{
    ViewData["Title"] = "Index";
}

<h1>Manage Time Entries</h1>

<p>
    <a asp-action="CreateTimeEntry">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClockIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClockOut)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Task.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClockIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClockOut)
                </td>
                <td>
                    <a asp-action="EditTimeEntry" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="DeleteTimeEntry" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
