@model IEnumerable<TimeTrackingApplication.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<!-- THIS ADMIN PAGE DISPLAYS ALL CURRENT EMPLOYEES, AND GIVES THE ADMIN PERMISSION TO ADD, EDIT, AND DELETE THEM -->

<h1>Manage Employees</h1>

<p>
    <a asp-action="CreateEmployee">Create New Employee</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PTO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClockedIn)
            </th>
            <th>
                Role
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact.Phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PTO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClockedIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact.Phone)
            </td>
            <td>
                <a asp-action="EditEmployee" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="DeleteEmployee" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
